<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Sauzen')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<h2>Van tot prijs</h2>
<form th:object="${beginLetters}" method="get"
      th:action="@{/snacks/beginnaam}">
    <label>
        beginletters:<input th:field="*{letters}" autofocus type="text" required minlength="1">
        <span th:errors="*{letters}"></span>

    </label>
    <button>Zoeken</button>
</form>
<th:block th:if="${snacks}">
    <h2>Snacks die beginnen met
        <th:block th:text="|'${beginLetters.letters}'|"></th:block>
    </h2>
    <ul>
        <li th:each="snack:${snacks}">
            <a th:text="${snack.naam}" th:href="@{/snacks/{id}/wijzigen/form(id=${snack.id})}"></a>
        </li>
    </ul>
</th:block>
</body>
</html>