<div xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)">
        <meta charset="UTF-8">
        <title th:text="${title}"></title>
        <link rel="icon" th:href="@{/images/frida.ico}" type="image/x-icon">
        <link rel="stylesheet" th:href="@{/css/frida.css}">
    </head>
    <nav th:fragment="menu">
        <ul>
            <li><a th:href="@{/}">Welkom</a></li>
            <li><a th:href="@{/sauzen}">Sauzen</a></li>
            <li><a th:href="@{/sauzen/alfabet}">Alfabet</a></li>
            <li><a th:href="@{/taal}">Taal</a></li>
            <li><a th:href="@{/snacks/alfabet}">Snacks</a></li>
            <li><a th:href="@{/snacks/beginnaam/form}">Snack Zoek</a></li>
            <li><a th:href="@{/frieten/zoeken}">Zoek de friet</a></li>
            <li><a th:href="@{/sauzen/raden}">Raad de saus</a></li>
        </ul>
    </nav>
</div>.