<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Frituur Frida')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<div th:if="${param.snackNietGevonden}" class="fout">Snack
    <th:block th:text="${param.snackNietGevonden}" ></th:block> niet gevonden
</div>
<h1>Frituur Frida</h1>
<h3>We zijn vandaag <th:block th:text="${gesloten}"></th:block>.</h3>
<h3>U bezokt ons voor de <th:block th:text="${aantalBezoeken}"></th:block>° keer.</h3>
<dl>
    <dt>Adres : </dt>
    <dd th:text="${adres}"></dd>
</dl>
</body>
</html>